fastapi
uvicorn
pydantic
loguru
PyJWT
SQLAlchemy
greenlet
aiosqlite
aiomysql
python-multipart
httpx
Pillow
python-dotenv
fastmcp~=2.12.5
boto3
redis
h2
cryptography
uuid_v7
dingtalk-stream

##############################
# 邮件 / 通知
##############################
alibabacloud_dypnsapi20170525
alibabacloud_dysmsapi20170525
alibabacloud_dm20151123
alibabacloud_credentials
alibabacloud_tea_openapi
alibabacloud_tea_util
